.container {
    display: flex;
    height: 100%;
    width: 100%;
    place-content: center;
    align-items: center;
    .circle {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        position: absolute;
        top: 25%;
        background-color: #ffa500c7;
    }
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    place-content: center center;
    .wrapper-background {
        height: 100%;
        width: 100%;
        background-image: url(../../../assets/images/sky-compress.jpg);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        filter: sepia(20%);
    }
    .card {
        position: absolute;
        height: 80%;
        width: 80%;
        border-radius: 40px;
        background-color: #efefef;
        -webkit-box-shadow: 6px 10px 5px -2px rgba(173,173,173,0.48);
        -moz-box-shadow: 6px 10px 5px -2px rgba(173,173,173,0.48);
        box-shadow: 6px 10px 5px -2px rgba(173,173,173,0.48);
    }
}